<div>
    <div class="card my-2">
        <img src="{{ asset("images/" ~ category ~ dish.image) }}" class="card-img-top" alt="{{ dish.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ dish.name }}</h5>
            <p class="card-text">Цена: {{ dish.price }} руб.</p>
            <a href="#" class="btn accent">Рецепт</a>
        </div>
    </div>
</div>
