{% extends "base.html.twig" %}

{% block title %}Меню{% endblock %}

{% block body %}
    <h1>Меню</h1>

    <div class="menu-list">
        <h2 class="my-3">Кофе</h2>
        <div class="row row-cols-2 justify-content-between">
            {% for dish in dishes[0] %}
                {% include 'partials/menu_item.html.twig' with {'category': 'coffee/'} %}
            {% endfor %}
        </div>

        <h2 class="my-3">Чай</h2>
        <div class="row row-cols-2 justify-content-between">
            {% for dish in dishes[1] %}
                {% include 'partials/menu_item.html.twig' with {'category': 'tea/'} %}
            {% endfor %}
        </div>

        <h2 class="my-3">Десерты</h2>
        <div class="row row-cols-2 justify-content-between">
            {% for dish in dishes[2] %}
                {% include 'partials/menu_item.html.twig' with {'category': 'dessert/'} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
