{% extends "base.html.twig" %}

{% block title %}Меню{% endblock %}

{% block body %}
    <h1>Меню</h1>

    {% for category in categories %}
        <h2>{{ category.name }}</h2>
    {% endfor %}
{% endblock %}
