name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create .env
        run: cp .env.sample .env

      - name: Install make
        run: |
          sudo apt-get update
          sudo apt-get -y install make

      - name: Install php-codesniffer
        run: sudo apt install php-codesniffer

      - name: Lint files
        run: make linter

      - name: Run containers
        run: make run

      - name: Install dependencies
        run: |
          docker exec cafe_manager_php git config --global --add safe.directory /app
          make install

      - name: Run unit tests
        run: make unittest
